*{
    margin: 0;
    padding: 0;

}

.nav ul li{
    float: left;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: #fff;
    padding: 7px;
    position: relative;
    width: 200px;
    list-style: none;
}
.nav ul li ul{
    position: absolute;
    width: 100px;
    opacity: 0;
    visibility: hidden;

}
.nav ul li ul li{
    margin: 0;
    width: 100px;
    padding: 10px;
    top: 7px;
    left: 0;
    width: 150px;

}
.nav ul li:hover ul{
    visibility: visible;
    opacity: 99;
    transition: 2s;
    left: 0;
   
}
.nav ul li:hover{
    color: cyan;
    background-color: deeppink;
}
.nav ul li:hover ul